@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 'Roboto';
}

header {
    color: #F9FAF8;
    font-size: 24px;
}

nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

a {
    text-decoration: none;
}

/* hero */

.hero {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    min-width: 100vw;
    padding: 100px;
    background-color: #1F2937;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: inline-block;
    margin: 0;
}

.pcholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 150px;
}

.heroder {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    border: none;
    border-radius: 8px;
}


.square {
    flex-shrink: 0;
    width: 125px;
    height: 125px;
    border: blue 2px solid;
    border-radius: 10px;
}

.sq-con {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.sep-con {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

/* Information */

.container-ill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100vw;
    padding: 25px 100px 175px 100px;
}

.text {
    margin-top: -24px;
}

.title {
    margin: 28px;
    font-size: 36px;
    font-weight: 900;
}

/* Quote */

.quot {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #E5E7EB;
    padding: 100px;
    flex-wrap: wrap;
}

.quot p {
    font-size: 36px;
    font: italic lighter;
    color: #1F2937;
}

.thor {
    color: #1F2937;
    font-weight: 700;
    margin-top: -4cd0px;
}

/* Call To Action */

.call {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call p {
    color: #F9FAF8;
}

.cta-head {
    font-weight: 900;
    font-size: 24px;
}

.cta-card {
    background-color: #3882F6;
    padding: 40px 250px;
    border-radius: 8px;
}

.cta-btm {
    display: flex;
    justify-content: space-between;
    margin-top: -35px;
    gap: 250px;
}

.cta-btn {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    border-radius: 8px;
    color: white;
    padding: 2px 24px 2px 24px;
}

/* Footer */

.footer {
    padding: 50px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}